<div class="modal-content" id="personal-information">

        <div  id="information">
            <div class="information">
                <label>账号名称:</label>
                <span class="text-label">{{operator.username}}</span>
            </div>
            <div class="information">
                <label>开户管理员:</label>
                <span class="text-label">{{operator.inviter}}</span>
            </div>
            <div class="information">
                <label>开户时间:</label>
                <span class="text-label">{{operator.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </div>
        </div>


</div>



