<div id="userinformation-page">
    <div ng-show="isLoading" class="bigLoading"></div>
    <div class="margin_right">
        <div class="search">
            <input type="search" id="search_text" ng-model="query" placeholder="输入想要查找的内容">

            <div class="btn-group">
                <button class="divbtn btn-sm" data-toggle="dropdown">
                    {{type_name}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="type = '_id'; type_name='用户id'">用户id</a></li>
                    <li><a href="" ng-click="type = 'username'; type_name='用户名'">用户名</a></li>
                    <li><a href="" ng-click="type = 'level_zh'; type_name='用户权限'">用户权限</a></li>
                    <li><a href="" ng-click="type = 'inviter'; type_name='开户人'">开户人</a></li>
                </ul>
            </div>
            <button class="divbtn btn-sm" data-toggle="dropdown" ng-click="search()">搜索</button>
            <div id="addUser">
                <a href="#/addOperator">
                    <input type="button" class="divbtn btn-sm" data-toggle="dropdown" id="adduserbtn" value="增加用户"/>
                </a>
            </div>
        </div>

    </div>

    <div class="userinformation-page">
        <table id="user-list" class="webUi-table">
            <thead>
            <tr>
                <th>用户id</th>
                <th>用户名</th>
                <th>用户权限</th>
                <th>开户人</th>
                <th>开户时间</th>
                <th>操作</th>
                <th>编辑</th>
                <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="operator in operatorList" class="tditem">
                <td class="td-text">{{operator._id}}</td>
                <td class="td-text">{{operator.username}}</td>
                <td class="td-text">{{operator.level_zh}}</td>
                <td class="td-text">{{operator.inviter}}</td>
                <td class="td-text">{{operator.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td><a href="javascript:void(0)" class="Operate" ng-click="delete(operator._id)">删除</a></td>
                <td><a href="#/operatorEdited?id={{operator._id}}" class="Operate">编辑</a></td>
                <td><a href="#/operatorDetails?id={{operator._id}}" class="Operate">详情</a></td>
            </tr>
            </tbody>

        </table>

    </div>

</div>
<nav class="table table-striped table-bordered input-page">
    <div class="input-group">
                <span class="input-group-addon input-page" style="align:center">
                    <button class="btn btn-default btn-sm" ng-click="pageChange(1)">首页</button>
                    <button class="btn btn-default btn-sm" ng-click="pageChange(searchParams.pageNum - 1)">上一页</button>
                    <button class="btn btn-default btn-sm" ng-click="pageChange(searchParams.pageNum)">前往</button>
                    第<input type="text" style="width: 50px" ng-model="searchParams.pageNum">/<!-- {{Math.ceil(count / searchParams.limit)}} -->{{searchParams.total}}页
                    <button class="btn btn-default btn-sm" ng-click="pageChange(searchParams.pageNum + 1)">下一页</button>
                    <!-- <button class="btn btn-default btn-sm" ng-click="pageChange(Math.ceil(count / searchParams.limit))">末页</button> -->
                    <button class="btn btn-default btn-sm" ng-click="pageChange(searchParams.total)">末页</button>
                </span>
    </div>
</nav>

