<div id="updatePassword-page" class="modal-content">
    <!--<form action="" name="updatePasswordForm">-->
        <div class="passwordContent">
            <div class="updatePassword">
                <label for="password">更改密码:</label>
                <input type="password" id="password" minlength="6" maxlength="16" placeholder="新密码"
                       title="密码长度为6到16位,包含特殊字符、大小写英文字母和数字" ng-model="password" value="" required/>

            </div>
            <div class="updatePassword">
                <label for="repeatPassword">确认密码:</label>
                <input type="password" id="repeatPassword" minlength="6" maxlength="16" placeholder="确认密码"
                       title="密码长度为6到16位,包含特殊字符、大小写英文字母和数字" ng-model="repeat" value="" required/>

            </div>

            <div class="updatePassword">
                <input type="submit" class="confirm divbtn" value="确认" ng-click="update()"/>
            </div>
        </div>
    <!--</form>-->
</div>
